<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <!-- SOA connection : read only -->
    <add key="SOAconnection" value="User Id=cgis;Password=tnb123; DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 129.15.29.104)(PORT = 1521)))(CONNECT_DATA =(SID = CEP)(SRVR = DEDICATED)))"/>
    <!-- SWTNB connection : write to SOA_TRANSACTION and KSF_SYSTEM_SOA_FAIL_TRANS -->
    <add key="SWTNBconnection" value="User Id=SWTNBGIS;Password=SWTNBGIS; DATA SOURCE= (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 129.15.20.56)(PORT = 1521)))(CONNECT_DATA =(SID = SWA)(SRVR = DEDICATED)))"/>
    <!-- Server Path. get SW log files from these location -->
    <!--
    <add key="ServerPath1" value="\\10.215.16.24\d$\Temp\GSS_Logs_from_PROD\106\"/>
    <add key="ServerPath2" value="\\10.215.16.24\d$\Temp\GSS_Logs_from_PROD\107\"/>
    <add key="ServerPath3" value="\\10.215.16.24\d$\Temp\GSS_Logs_from_PROD\118\"/>
    -->
    <add key="ServerPath1" value="E:\Temp\"/>
    <add key="ServerPath2" value="E:\Temp\"/>
    <add key="ServerPath3" value="E:\Temp\"/>
    <!-- the service folder: Location to read logs will be ServerPath + service folder-->
    <add key="BCRMFolder" value="BCRM_Update_Logs"/>
    <add key="DistProjectFolder" value="Dist_Project_Logs"/>
    <add key="DistProjectUpdateFolder" value="Dist_Project_Update_Logs"/>
    <add key="ErmsFolder" value="Erms_Update_Logs"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
